@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar-logo-title-container {
  display: flex;
  height: 10vh;
}

.navbar-restaurant-logo {
  position: static;
}

.navbar-title {
  font-size: 3vh;
  margin-left: 2vh;
  font-weight: 300;
}

.navbar-categories-container {
  width: fit-content;
  display: flex;
}

.navbar-category-content {
  display: flex;
  align-items: center;
}

.navbar-category {
  font-size: 2vh;
  font-weight: 100;
  margin-right: 5px;
  transition: transform .3s;
  margin-right: 3vh;
}

.navbar-category:hover {
  cursor: pointer;
  transform: scale(1.03);
  color: #2bbbad;
}

/* All plates container */

.all-plates-container {
  display: flex;
}

/* Plates container */

.plates-container {
  margin-top: 3vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

/* Plate card */

.plate-card {
  width: 31vh;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  margin-left: 10px;
  position: relative;
}

.plate-image {
  width: 100%;
}

.plate-info-container {
  margin-top: -2vh;
  background-color: #e7e7e7;
  padding: 0px 5px;
  height: 21vh;
}

.plate-title {
  font-size: 2.5vh;
  font-weight: 300;
}

.plate-description {
  margin-top: -1vh;
  font-size: 1.4vh;
}

.plate-cousine {
  display: flex;
  align-items: center;
  font-size: 1.7vh;
}

.cousine-flag {
  margin-left: 5px;
  width: 3vh;
  position: absolute;
  right: 5px;
  bottom: 0;
}

.plate-price {
  position: absolute;
  font-size: 2vh;
  margin: 0;
  bottom: 0;
}

/* Deals container */

.deals-container {
  width: 25%;
  background-color: #edad19;
}