@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* Navbar */

.navbar-logo-title-container {
  display: flex;
  height: 10vh;
}

.navbar-restaurant-logo {
  position: static;
}

.navbar-title {
  font-size: 3vh;
  margin-left: 2vh;
  font-weight: 300;
}

.navbar-categories-container {
  width: fit-content;
  display: flex;
}

.navbar-category-content {
  display: flex;
  align-items: center;
}

.navbar-category {
  font-size: 2vh;
  font-weight: 100;
  margin-right: 5px;
  transition: transform .3s;
  margin-right: 3vh;
}

.navbar-category:hover {
  cursor: pointer;
  transform: scale(1.03);
  color: #2bbbad;
}

/* All plates container */

.all-plates-container {
  position: relative;
  display: flex;
}

/* Plates container */

.plates-container {
  margin-top: 3vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

/* Plate card */

.plate-card {
  width: 31vh;
  border: 1px solid #e7e7e7;
  border-bottom: none;
  margin-left: 10px;
  position: relative;
  margin-bottom: 2vh;
}

.plate-image {
  width: 100%;
}

.plate-info-container {
  margin-top: -2vh;
  background-color: #e7e7e7;
  padding: 0px 5px;
  height: 21vh;
}

.plate-title {
  font-size: 2.5vh;
  font-weight: 300;
}

.plate-description {
  margin-top: -1vh;
  font-size: 1.4vh;
}

.add-cart {
  font-size: 3vh;
  height: 4vh;
  color: #fff;
  position: absolute;
  padding: 0.5vh;
  right: 0.5vh;
  bottom: 0;
  background-color: #2bbbad;
  text-align: center;
  transition: height .2s ease-out 100ms;
}

.add-cart:hover {
  height: 5vh;
  background-color: #2bbbad71;
  cursor: pointer;
}

.plate-price {
  position: absolute;
  font-size: 2vh;
  margin: 0;
  bottom: 0;
}

/* Cart container */

.cart-container {
  height: fit-content;
  min-height: 25vh;
  margin-top: 3vh;
  padding: 1vh 1vh 0 1vh;
  width: 25%;
  border-left: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
}

.cart-top-container {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #2bbbad;
  color: #fff;
}

.cart-title {
  margin: 0;
  font-size: 3vh;
  font-weight: 300;
  margin-left: 1vh;
}

.cart-icon {
  position: absolute;
  right: 1vh;
}

.cart-midle-container {
  max-height: 210px;
  overflow-y: scroll;
}

.empty-cart {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-cart-title {
  font-size: 4vh;
  color: #c9c9c9;
  margin: 0;
}

.empty-cart-icon {
  font-size: 10vh;
  color: #c9c9c9;
}

.cart-item-card {
  margin-top: 1vh;
  padding: .5vh .5vh .5vh .5vh;
  margin-right: 1vh;
  background-color: #e7e7e7;
  display: flex;
  align-items: center;
  height: 6vh;
}

.cart-item-name {
  font-size: 1.5vh;
}

.cart-plate-image {
  width: 4vh;
}

.cart-delete-item {
  margin-left: auto;
  color: rgb(186, 58, 58);
}

.cart-delete-item:hover {
  cursor: pointer;
}

.cart-remove-plate-container {
  margin-top: 1vh;
  padding: .5vh .5vh .5vh .5vh;
  margin-right: 1vh;
  display: flex;
  align-items: center;
  font-size: 1.5vh;
  background-color: rgba(186, 58, 58, 0.931);
  color: #fff;
  height: 6vh;
}

.confirm-remove-plate-container {
  margin-left: auto;
  display: flex;
}

.confirmation-button {
  display: flex;
  align-items: center;
  font-size: 3vh;
  border-radius: 5px;
  padding: .3vh;
}

.confirmation-button:hover {
  cursor: pointer;
}

.confirm-remove-plate {
  margin-right: 1vh;
  background-color: #3bb23b;
}

.deny-remove-plate {
  font-size: 3vh;
  background-color: #5167b7;
}

.cart-bottom-container {
  margin-top: 2vh;
  display: flex;
  position: relative;
}

.cart-payment-container {
  margin-top: 2vh;
  width: 95%;
  background-color: #cd5688;
  padding: .5vh .5vh .5vh .5vh;
  border-radius: 5px;
  color: #fff;
  font-size: 3vh;
  display: flex;
  align-items: center;
}

.cart-payment-text {
  margin: 0;
}

.payment-arrow {
  margin-left: auto;
}

.cart-payment-container:hover {
  cursor: pointer;
  background-color: #cd5688be;
}

.cart-price-title {
  margin: 0;
  font-size: 2.5vh;
  font-weight: 300;
}

.cart-total-price {
  margin: 0;
  font-size: 2.5vh;
  font-weight: 300;
  position: absolute;
  right: 1vh;
}

/* Options modal container */

.options-modal-container {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fffffff3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 50vh;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  position: relative;
}

.close-icon {
  position: absolute;
  right: 1vh;
  top: 1vh;
  color: rgb(186, 58, 58);
}

.close-icon:hover {
  cursor: pointer;
}

.modal-title {
  margin-top: 4vh;
  text-align: center;
  font-size: 2.2vh;
  font-weight: 300;
  padding: 0 1vh;
}

.options-container {
  display: flex;
  margin-bottom: 2vh;
}

.options-plate-image {
  width: 15vh;
}

.option-container {
  padding: 1vh;
  display: flex;
  flex-direction: column;
  margin-right: 1vh;
}

.option-title {
  margin: 0 auto;
  font-size: 2vh;
  height: 4vh;
  text-align: center;
}

.option-title-sm {
  font-size: 1.3vh;
}

.option-price {
  margin: 0 auto;
  font-size: 1.5vh;
  margin-bottom: 1.5vh;
}

.checkbox-option {
  margin: 0 auto;
}

.checkbox-option:checked {
  background-color: #2bbbad;
}

.choose-button-enabled {
  background-color: #2bbbad;
  text-align: center;
  margin: 0 auto;
  width: 15vh;
  color: white;
  border-radius: 5px;
}

.choose-button-enabled:hover {
  cursor: pointer;
  background-color: #2bbbad71;
}

.choose-button-disabled {
  background-color: #4e585726;
  text-align: center;
  margin: 0 auto;
  width: 15vh;
  color: white;
  border-radius: 5px;
}
